name: ci

on: [push]

jobs:
  should-skip:
    continue-on-error: true
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should-skip-job: ${{steps.skip-check.outputs.should_skip}}
    steps:
      - id: skip-check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          github_token: ${{github.token}}

  ci:
    needs: should-skip
    # Never skip on the  main branch
    if: ${{needs.should-skip.outputs.should-skip-job != 'true' || github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node: [20, 21, 22, 23, 24, 25]
    runs-on: ${{matrix.os}}
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: "${{matrix.node}}"
          cache: npm

      # turn off the default setup-node problem watchers...
      - run: echo "::remove-matcher owner=eslint-compact::"
      - run: echo "::remove-matcher owner=eslint-stylish::"
      - run: echo "::remove-matcher owner=tsc::"

      - name: npm install
        run: npm i --prefer-offline --no-audit

      - name: run npm test
        run: npm run test
